<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>https://alpha-api.app.net/</string>
	<key>requests</key>
	<dict>
		<key>imgurPhotoUpload</key>
		<dict>
			<key>baseURL</key>
			<string>http://api.imgur.com/</string>
			<key>method</key>
			<string>POST</string>
			<key>routeFormat</key>
			<string>2/upload.json</string>
			<key>postFormat</key>
			<string>key={apiKey}&amp;image={base64image}&amp;caption={caption}&amp;type=base64</string>
		</dict>
		<key>followUser</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/follow</string>
			<key>postFormat</key>
			<string>access_token={accessToken}</string>
		</dict>
		<key>unfollowUser</key>
		<dict>
			<key>method</key>
			<string>DELETE</string>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/follow?access_token={accessToken}</string>
		</dict>
		<key>muteUser</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/mute</string>
			<key>postFormat</key>
			<string>access_token={accessToken}</string>
		</dict>
		<key>unmuteUser</key>
		<dict>
			<key>method</key>
			<string>DELETE</string>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/mute?access_token={accessToken}</string>
		</dict>
		<key>getMutedUsers</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>routeFormat</key>
			<string>stream/0/users/me/muted?access_token={accessToken}</string>
		</dict>
		<key>getUserFollowers</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/followers?access_token={accessToken}</string>
		</dict>
		<key>getUserFollowing</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/following?access_token={accessToken}</string>
		</dict>
		<key>getUser</key>
		<dict>
			<key>method</key>
			<string>GET</string>
			<key>routeFormat</key>
			<string>/stream/0/users/{user_id}?access_token={accessToken}</string>
		</dict>
		<key>postToStream</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>routeFormat</key>
			<string>stream/0/posts</string>
			<key>postFormat</key>
			<string>text={text}&amp;access_token={accessToken}</string>
		</dict>
		<key>postToStreamAsReply</key>
		<dict>
			<key>method</key>
			<string>POST</string>
			<key>routeFormat</key>
			<string>stream/0/posts</string>
			<key>postFormat</key>
			<string>text={text}&amp;access_token={accessToken}&amp;reply_to={post_id}</string>
		</dict>
		<key>getGlobalStream</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/stream/global?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getGlobalStreamSince</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/stream/global?access_token={accessToken}&amp;since_id={since_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getGlobalStreamBefore</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/stream/global?access_token={accessToken}&amp;before_id={before_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserStream</key>
		<dict>
			<key>routeFormat</key>
			<string>/stream/0/posts/stream?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserStreamSince</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/stream?access_token={accessToken}&amp;since_id={since_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserStreamBefore</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/stream?access_token={accessToken}&amp;before_id={before_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserMentions</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/mentions?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserMentionsSince</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/mentions?access_token={accessToken}&amp;since_id={since_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserMentionsBefore</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/mentions?access_token={accessToken}&amp;before_id={before_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserPosts</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/posts?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserPostsSince</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/posts?access_token={accessToken}&amp;before_id={before_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getUserPostsBefore</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/users/{user_id}/posts?access_token={accessToken}&amp;before_id={before_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getPostReplies</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/{post_id}/replies?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getCurrentUser</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/users/me?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getTaggedPosts</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/tag/{hashtag}?access_token={accessToken}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getTaggedPostsSince</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/tag/{hashtag}?access_token={accessToken}&amp;since_id={since_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
		<key>getTaggedPostsBefore</key>
		<dict>
			<key>routeFormat</key>
			<string>stream/0/posts/tag/{hashtag}?access_token={accessToken}&amp;before_id={before_id}</string>
			<key>method</key>
			<string>GET</string>
		</dict>
	</dict>
</dict>
</plist>
